:root {
  /* COLORS */
  --clr-primary-400: #0065fc;
  --clr-secondary-400: #deebff;
  --clr-bg-400: #d9d9d9;
  --clr-bg-200: #f2f2f2;
  --clr-bg-100: #ffff;

  /* FONTS */
  --ff-base: "Raleway", sans-serif;

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-bold: 700;

  /* FONT SIZE */
  --fs-200: 14px;
  --fs-400: 16px;
  --fs-600: 18px;
  --fs-900: 22px;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

i {
  line-height: 1 !important;
}

/* General styling */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg-100);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: black;
}

.hero,
.hebergements-and-populaires,
.activites {
  margin-bottom: 1.9rem;
}

.filters__icon,
.hero__info-icon,
.populaires__graph-icon {
  color: var(--clr-primary-400);
}

/* __cards */

.card {
  background: var(--clr-bg-100);
  width: 100%;
  border-radius: 1.1rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: var(--fs-400);
}

.card__paragraph {
  font-size: var(--fs-200);
}

.card__euro-symbol {
  font-weight: var(--fw-bold);
}

.card__rating-stars {
  display: flex;
  gap: 0.2rem;
}

.card__star-icon {
  color: var(--clr-primary-400);
}

.card__neutral-star-icon {
  color: var(--clr-bg-200);
}

/* __cards modifiers */

.card--basic-display {
  height: 207px;
}

.card--horizontal-display {
  display: grid;
  grid-template-columns: 112px 1fr;
}

.card--vertical-display {
  height: 200px;
}

/* __images of card modifiers */

.card--basic-display .card__image-container {
  margin: 5px 5px 0 5px;
  height: 120px;
  overflow: hidden;
  border-radius: 1.1rem 1.1rem 0 0;
}

.card--basic-display .card__image {
  object-position: 50% 70%;
}

.card--horizontal-display .card__image-container {
  margin: 5px 0 5px 5px;
  height: 135px;
  overflow: hidden;
  border-radius: 1.1rem 0 0 1.1rem;
}

.card--vertical-display .card__image-container {
  height: 141px;
}

/* __caption of card modifiers */

.card--basic-display .card__caption-wrapper {
  margin: 0.5rem 0.9rem;
}

.card--basic-display .card__caption,
.card__title {
  margin-bottom: 0.4rem;
}

.card--horizontal-display .card__caption-wrapper {
  display: grid;
  place-content: space-between;
  margin: 10px 5px 10px 15px;
}

.card--horizontal-display .card__caption,
.card__title {
  margin-bottom: 0.3rem;
}

.card--vertical-display .card__title {
  margin: 1.25rem;
}

/* HEADER SECTION */

.header__logo {
  object-fit: contain;
  width: 61px;
  margin: 2rem auto 2rem;
}

.main-menu {
  display: flex;
}

.main-menu__link {
  flex: 1;
  text-align: center;
  border-bottom: 2px solid var(--clr-bg-400);
  padding-bottom: 0.8rem;
}

.main-menu__link:hover {
  border-bottom: 2px solid var(--clr-primary-400);
  cursor: pointer;
}

.main-menu__link:hover > a {
  color: var(--clr-primary-400);
}

/* HERO SECTION */

.hero__wrapper {
  display: grid;
  gap: 2.1rem;
  margin: 1.9rem 1.2rem;
}

.hero__title {
  font-size: var(--fs-900);
  line-height: 1.7rem;
  margin-bottom: 0.6rem;
}

.cta {
  display: flex;
  border: 1px solid var(--clr-bg-400);
  border-radius: 1.1rem;
  height: 3rem;
}

.cta__location-icon-container {
  display: grid;
  place-content: center;
  background: var(--clr-bg-400);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem 0 0 1rem;
}

.cta__input {
  flex: 1;
  border: none;
  outline: transparent;
  font: inherit;
}

.cta__input::placeholder {
  padding-left: 1.2rem;
}

.cta__search-btn {
  display: grid;
  place-content: center;
  background: var(--clr-primary-400);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: inherit;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  scale: 1.02;
}

.cta__search-icon {
  color: white;
}

.cta__search-icon--tablet-and-pc {
  display: none;
}

/* __filters */

.filters__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.filters__list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--fs-200);
  border-radius: 2rem;
  border: 2px solid var(--clr-bg-400);
  padding: 0.7rem 1.2rem;
  flex: 1;
  font-weight: var(--fw-bold);
  min-width: max-content;
}

.filters__title {
  margin-bottom: 1.2rem;
}

.filters__list li:hover {
  background: var(--clr-secondary-400);
  cursor: pointer;
}

/* __info-note */

.hero__info-note-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.hero__info-icon-container {
  display: grid;
  place-content: center;
  height: 1.5rem;
  aspect-ratio: 1;
  border: 1px solid var(--clr-bg-400);
  border-radius: 100%;
}

/* HEBERGEMENTS AND POPULAIRES */

.hebergements-and-populaires {
  display: flex;
  flex-direction: column-reverse;
}

/* HEBERGEMENTS SECTION */

.hebergements {
  flex: 1;
}

.hebergements__wrapper {
  margin: 2.2rem 1.2rem 1.2rem 1.2rem;
}

.hebergements__title {
  margin-bottom: 0.95rem;
}

.hebergements__cards {
  display: grid;
  gap: 0.95rem;
}

.hebergements__cta {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  margin: 1.1rem 0;
}

/* POPULAIRES SECTION */

.populaires__wrapper {
  background: var(--clr-bg-200);
  padding: 1.9rem 1.2rem;
}

.populaires__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.95rem;
}

.populaires__title {
  font-size: var(--fs-900);
}

.populaires__cards {
  display: grid;
  gap: 0.95rem;
}

/* ACTIVITE SECTION */

.activites__wrapper {
  padding: 1.9rem;
}

.activites__title {
  margin-bottom: 1.9rem;
}

.activites__cards {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
}

/* FOOTER */
footer {
  overflow: auto;
}

.footer__wrapper {
  background: var(--clr-bg-200);
  padding: 1.9rem;
}

.secondary-menus {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.secondary-menu__title {
  font-size: var(--fs-600);
  margin-bottom: 0.6rem;
}

.secondary-menu {
  display: grid;
  gap: 0.6rem;
}

@media screen and (min-width: 1024px) {
  /* General styling */

  .card--horizontal-display {
    grid-template-columns: 92px 1fr;
  }

  .card--vertical-display {
    height: 270px;
  }

  .card--horizontal-display .card__image-container {
    width: 92px;
  }

  .card--vertical-display .card__image-container {
    height: 200px;
  }

  /* HEADER */

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: 3.1rem;
  }

  .header__logo {
    margin-inline: 0;
  }

  .main-menu {
    gap: 3rem;
  }

  .main-menu__link {
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-menu__link:hover {
    border-top: 2px solid var(--clr-primary-400);
    border-bottom: none;
  }

  .main-menu__link a {
    display: block;
    padding-top: 0.8rem;
  }

  /* HERO SECTION */

  .hero__wrapper {
    margin: 0 3.1rem 0;
  }

  .cta {
    width: 377px;
  }
  .cta__search-btn {
    border-radius: 0 1rem 1rem 0;
    box-shadow: none;
    flex: 1;
  }
  .cta__search-icon--mobile {
    display: none;
  }

  .cta__search-icon--tablet-and-pc {
    display: block;
    color: var(--clr-bg-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-600);
  }

  /* __filters */

  .filters__list {
    gap: 0.95rem;
  }

  .filters__list li {
    font-size: var(--fs-400);
    flex: none;
  }

  /* HEBERGEMENTS AND POPULAIRES */

  .hebergements-and-populaires {
    flex-direction: column;
    gap: 3.125rem;
  }

  /* HEBERGEMENTS SECTION */

  .hebergements__wrapper {
    background: var(--clr-bg-200);
    border-radius: 0.9rem;
    padding: 1.9rem;
    margin: 0 3.1rem 0;
  }

  .hebergements__title {
    margin-bottom: 1.9rem;
  }

  .hebergements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.9rem;
  }

  .hebergements__cta {
    margin: 1.9rem 0 0;
  }

  /* POPULAIRES SECTION */

  .populaires__wrapper {
    background: var(--clr-bg-200);
    height: 100%;
    padding: 1.9rem;
    border-radius: 0.9rem;
    margin: 0 3.1rem 0;
  }

  .populaires__title-wrapper {
    margin-bottom: 1.9rem;
  }

  .populaires__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ACTIVITE SECTION */

  .activites__wrapper {
    padding: 1rem 1.9rem;
    margin: 0 3.1rem 0;
  }

  .activites__cards {
    flex-direction: row;
    margin-bottom: 1.5rem;
    gap: 1.9rem;
  }

  /* FOOTER */

  .footer__wrapper {
    margin: 0 3.1rem 0;
  }

  .secondary-menus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  /* General styling */

  .main-wrapper {
    max-width: 1440px;
    margin-inline: auto;
  }

  /* __cards modifiers */

  .card--horizontal-display {
    width: 369px;
    height: 144px;
    grid-template-columns: 123px 1fr;
  }

  .card--vertical-display {
    height: 439px;
  }

  .card--horizontal-display .card__image-container {
    width: 100%;
  }

  .card--vertical-display .card__image-container {
    height: 380px;
    width: 298px;
  }

  /* HEBERGEMENTS AND POPULAIRES */

  .hebergements-and-populaires {
    flex-direction: row;
    gap: 2.5rem;
    margin: 0 3.1rem 0;
  }

  /* HEBERGEMENTS SECTION */

  .hebergements__wrapper {
    margin: 0;
  }

  /* POPULAIRES SECTION */

  .populaires__wrapper {
    margin: 0;
  }

  .populaires__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1.9rem;
  }

  /* ACTIVITE SECTION */

  .activites__cards {
    gap: 1.9rem;
  }
}
